<app-header [titulo]="titulo"></app-header>

<ion-content>


  <ion-row class="top-20">
    
    <ion-col size-md="6" offset-md="3"  size-xs="12">
      <ion-item>
        <ion-label position="floating">Titulo:</ion-label>
        <ion-input [(ngModel)]="notification.title" placeholder="Titulo de la notificación" name="publicaction"
        type="text"
        required></ion-input>
      </ion-item>
    </ion-col>

  </ion-row>

  <ion-row class="top-20">
    <ion-col size-md="6" offset-md="3"  size-xs="12">
      <ion-item>
        <ion-label position="floating">Descripcion:</ion-label>
        <ion-textarea   placeholder="Mensaje de la notificación" [(ngModel)]="notification.message"></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>

  <!-- <ion-row class="top-20 left-20">
    <ion-col size-md="6" offset-md="3"  size-xs="12" >
      <ion-label >Seleccionar imágenes: </ion-label>
      <ion-button (click)="libreria()" size="middle"  fill="outline" class="ion-text-capitalize" type="submit"
      color="vidas"
      shape="round">
      <ion-icon slot="start" name="images" ></ion-icon>
Galeria
</ion-button>

    </ion-col>
  </ion-row> -->


 
      <!-- <ion-row>
        <ion-col size="3" *ngFor="let image of tempImages; let i = index">
          <ion-card>
            <img [src]="image | imageSanitizer">
          </ion-card>
          <ion-icon class="left-30" (click)="removeImage(i)" size="small" name="close-circle" ></ion-icon>
        </ion-col>
      </ion-row> -->
      
      <ion-row>
        <ion-col size-md="6" offset-md="3"  size-xs="12"  >
          <ion-item class="left"  lines="none">
            <ion-button  [disabled]="notification.title.length < 1 || notification.message.length < 1" (click)="newNotification()" size="default" expand="block" class="ion-text-capitalize" type="submit"
            color="vidas"
            shape="round">
            <ion-icon slot="start" name="ios-send" ></ion-icon>
    Enviar Notificacíon
    </ion-button>
          </ion-item>
      </ion-col>
    </ion-row>
    
  

</ion-content>
