

  <ion-slides  >
      
    <ion-slide class="image-slide"
   >
   <ion-skeleton-text animated></ion-skeleton-text>
     </ion-slide>

    </ion-slides>
<ion-grid >


  <ion-row>
    <ion-col size="4" class="poster-detalle-sobre">
     
        <ion-avatar >
         
          <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>

    </ion-col>
    <ion-col >
      <ion-item>
      
        <ion-skeleton-text slot="end" animated style="width: 30%"></ion-skeleton-text>

      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-label >
        <h1><ion-skeleton-text slot="end" animated style="width: 60%"></ion-skeleton-text></h1>
      </ion-label>

      <ion-skeleton-text slot="end" animated style="width: 30%"></ion-skeleton-text>
    </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </h3>
 
  
    </ion-label>

    

    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </p>
    </ion-label>

  <br>

  <ion-label>
    <h3>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    </h3>
    <p>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </p>
    <p>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
    </p>
  </ion-label>

  

  <ion-label>
    <h3>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    </h3>
    <p>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </p>
    <p>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
    </p>
  </ion-label>

  
    
  </ion-col>
</ion-row>             
</ion-grid>


<ion-footer  no-border class="ion-padding-bottom" >
  <ion-toolbar>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  


    <ion-row  class="left-10"> 

      <ion-col size-md="4" offset-md="4"  size-xs="7">
        <!-- <ion-label position="floating">Comentar Publicación:</ion-label> -->
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-col>

      <ion-col size-md="4" offset-md="4"  size-xs="3" >
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-col>


      
  </ion-row>
    
    <ion-row class="left-10">
      <ion-col size-md="4" offset-md="4"  size-xs="7">
        <ion-skeleton-text  animated style="width: 50%"></ion-skeleton-text>
      </ion-col>

      <ion-col size-md="4" offset-md="4"  size-xs="5" >
        <ion-skeleton-text  animated style="width: 80%"></ion-skeleton-text>


      </ion-col>
    </ion-row>



  </ion-toolbar>
</ion-footer>
