

.post {
   
    
    -webkit-box-shadow: 0 2px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px -5px rgba(0,0,0,0.5);
}

.image-slide {
    width: 100%;
    height: 250px;

    // background-color: red;

    /* Full height */
    // height: 100%; 

    /* Imagen centrada y colocada de forma elegante */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-10 {
    margin-left: 10px;
}

.title-separator {
    float: left;
    margin-left: -.75rem;
    width: 125px;
   
}

.separator-base {
    border-radius: 4px;
    height: 4px;
    width: 30vw;
    margin: 0 auto;
    float: left;
    margin-top: 10px;
}

.bg-primary-light {
 background-color: #a81616 !important;
}


ion-avatar {
    width: 90px !important; 
    height: 90px !important; 
}

.cut {
    -webkit-clip-path: polygon(0px 225px,937px 258px,800px -4px,0px 0px);
    clip-path: polygon(0px 225px,937px 258px,800 -4px,0px 0px);
   
  }

.poster-detalle-sobre {
    position: adsolute;
    top: -80px;
    left: -6px;
    margin-bottom: -50px;
    // position: absolute;
    // left: -272px;
    // right: 0;
    // top: 27%;
    //  margin: 0 auto;
     z-index: 9999999;
}

.titulo {
    width: 100%;
    position: absolute;
    color: black;
    background-color: red;
    padding: 5px 5px 40px 5px;


    // /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    // background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.titulo h1{
    position: absolute;
    top: 28px;
    left: 5px;
}

.card-actor {
    height: 210px;
}

.actor-name {
    position: relative;
    top:15px;
}



input{
    background-repeat:repeat-x;
    border: 0px solid;
    height:25px;
    width:125px;
}

#comentario{
    width:200px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f0f0f0;
	margin:8px 0;
	display:inline-block;
}

#comentar{
    margin-top: 8px;
     margin-left: 10px;
}









