
<ion-grid fixed>
  <ion-row>
    <ion-col  size-md="6" offset-md="3"  size-xs="12"
    *ngFor="let post of [1,1,1,1,1,1,1,1,1,1]">

    <div class="post">

   
    
      <ion-item lines="none">
  
          <ion-avatar slot=start>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
  
          <ion-label>
              <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
               <h5><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h5>
          </ion-label>
      </ion-item>

  
  
      
          <ion-item lines="none">
               <ion-label class="ion-text-wrap">
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
           
               </ion-label>
               
          </ion-item>
  
   
      
              <ion-slides  >
      
                  <ion-slide class="image-slide"
                 >
                 <ion-skeleton-text animated></ion-skeleton-text>
                   </ion-slide>
          
                  </ion-slides>
                  
               

                    <ion-item  lines="none">
  
                   
                    
                      <ion-skeleton-text slot="start" animated style="width: 20%"></ion-skeleton-text>
           
                     
                  
                     
                      <ion-skeleton-text slot="end" animated style="width: 30%"></ion-skeleton-text>
     
                  </ion-item>
  
                   
                  
  
  
  </div>

    </ion-col>
  </ion-row>
</ion-grid>