<ion-header no-border translucent >
  <ion-toolbar>
  
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="left-20  ion-text-capitalize">Donaciones</ion-title>


  </ion-toolbar>
</ion-header>
<!-- 
<ion-content>
  <iframe id="payflow-link-iframe" sandbox="allow-top-navigation allow-scripts allow-same-origin allow-forms allow-modals"  [src]="site  | url" style="height: 100%; width: 100%; border:none;" target="_top" allow="payment"></iframe>
</ion-content> -->