.right-20 {
    margin-right: 5px;
}

.left-50 {
    margin-left: 50px;
}

.title-separator {
    float: left;
    margin-left: -.75rem;
    width: 125px;
   
}

.separator-base {
    border-radius: 4px;
    height: 2px;
    width: 5vw;
    margin: 0 auto;
    // float: left;
    // margin-top: 10px;
}

.bg-primary-light {
 background-color: #7b52a1 !important;
}