<ion-list  *ngIf="optionsArray.length > 0">

  <span *ngFor="let option of optionsArray">


     <ion-item (click)='optionClick(option)'>

  <!-- <ion-icon class="right-20"  name="ios-send"></ion-icon > -->
    <ion-label  class="ion-text-center"> {{ option}} 
     
    </ion-label>
  </ion-item>
  <!-- <hr class="separator-base bg-primary-light separator-title"> -->



</span>
</ion-list>
