<ion-header no-border translucent >
  <ion-toolbar>
    <ion-buttons  slot="start" class="ion-padding">
      <ion-icon  slot="icon-only" name="logo-usd"></ion-icon>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="/"></ion-back-button>
    </ion-buttons> -->
    <ion-title class="ion-text-capitalize">{{titulo}}</ion-title>


    <ion-buttons (click)="mostrarPop($event)" slot="end">
      <ion-button >
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>
