



<app-skeleton-detailpost *ngIf="skeleton"></app-skeleton-detailpost>


<ion-content #scrollElement [scrollEvents]="true" *ngIf="!skeleton">

  <ion-row>
    <ion-col  size-md="4" offset-md="4" xs=12>
 
  <ion-slides *ngIf="imgs.length > 1" [options]="slideSoloOpts2">

    <ion-slide *ngFor="let img of imgs"
    class="image-slide cut"
    [style]="(img | imagen) | domSanitizer">

     </ion-slide>

    </ion-slides>

    <ion-slides *ngIf="imgs.length === 1" [options]="slideSoloOpts">

        <ion-slide  class="image-slide cut"
        [style]="(imgs[0] | imagen) | domSanitizer">

         </ion-slide>

        </ion-slides>

      </ion-col>
    </ion-row>

  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-md="4"  size-xs="5" class="poster-detalle-sobre">
       
          <ion-avatar >
            <!-- <img src="https://picsum.photos/500/300?random=2" > -->
            <img src="/assets/avatars/av-1.png">
        </ion-avatar>

        
 
      </ion-col>

      <ion-col  size-md="4" offset-md="4"  size-xs="7" >
        

        <ion-item>
         
          <!-- <ion-label > {{ post.seller.name}} </ion-label> -->
         
          <ion-button id="servicesSelect" (click)="mostrarPop($event)"  slot="end"  size="default"  fill="outline" class="ion-text-capitalize"
          color="vidas"
          shape="round">
          <ion-icon slot=start name="arrow-dropdown" color="vidas"></ion-icon>
          Servicios
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row>

      <ion-col size-md="3" offset-md="4"  size-xs="9"  class="seller-name">

       
        <ion-chip > <ion-icon class="left-1" name="contact"></ion-icon> {{ post.seller.name}} </ion-chip>


      

    </ion-col >

        <ion-col size-md="4" offset-md="4" size-xs="12"  class="top-10">
          <ion-chip class="right-8" color="vidas">
            <h3>{{ post.name }} : </h3>
            <ion-label *ngIf="servicioSeleccionado != null" style="margin-top: 7px; margin-left: 15px;"> <strong>{{ servicioSeleccionado  }}</strong> </ion-label>
          </ion-chip>
          
        

          <hr class="separator-base bg-primary-light separator-title">

        </ion-col>
    </ion-row>


    <ion-slides class="mainSlide top-10" #slideSecundario>
    
      <ion-slide>

       

        <ion-row *ngIf = "servicioSeleccionado === null">
          <ion-col size-md="9" offset-md="2"  size-xs="12" >
            <ion-label >

              {{post.description}}
             
            </ion-label>       
            
          </ion-col>


         

      </ion-row>

     

      <span *ngIf = "servicioSeleccionado != null && servicioSeleccionado === 'Envio De Remesas'">

      

        <ion-row >

          <ion-col size-xs="7">
  
            
            <ion-label class="aling-position">
  
              Envias:
  
             
           
                 <!-- <ion-label > {{ post.seller.name}} </ion-label> -->
                
         
           </ion-label>
  
       
          </ion-col>
  
          <ion-col size-xs="5" >
  
            <ion-button id="monedasSendSelect" (click)="mostrarPop($event)"   size="default"  fill="outline" class="ion-text-capitalize float-r"
            color="vidas"
            shape="round">
            <ion-icon slot=start name="arrow-dropdown" color="vidas"></ion-icon>
            {{ monedaEnviaSeleccionado }}
            </ion-button>
  
          </ion-col>
  
        </ion-row>

      <ion-row >

        <ion-col size-xs="7">

          
          <ion-label class="aling-position">

            Recibes:

           
         
               <!-- <ion-label > {{ post.seller.name}} </ion-label> -->
              
       
         </ion-label>

     
        </ion-col>

        <ion-col size-xs="5" >

          <ion-button id="monedasReceptSelect" (click)="mostrarPop($event)"   size="default"  fill="outline" class="ion-text-capitalize float-r"
          color="vidas"
          shape="round">
          <ion-icon slot=start name="arrow-dropdown" color="vidas"></ion-icon>
          {{ monedaRecibeSeleccionado }}
          </ion-button>

        </ion-col>

      </ion-row>

      <ion-row *ngIf="monedaEnviaSeleccionado != 'Seleccione' && monedaRecibeSeleccionado != 'Seleccione' ">

        <ion-col size-xs="7">

          
          <ion-label class="aling-position">

            Pagas por:

           
         
               <!-- <ion-label > {{ post.seller.name}} </ion-label> -->
              
       
         </ion-label>

     
        </ion-col>

        <ion-col size-xs="5">

          <ion-button id="paymentMethodSelect" (click)="mostrarPop($event)"   size="default"  fill="outline" class="ion-text-capitalize float-r"
          color="vidas"
          shape="round">
          <ion-icon slot=start name="arrow-dropdown" color="vidas"></ion-icon>
          {{ metodoPagoSeleccionado }}
          </ion-button>

        </ion-col>

      </ion-row>

      <span *ngIf="monedaEnviaSeleccionado != 'Seleccione' && monedaEnviaSeleccionado != 'Seleccione' && rateSelected!=null">

      <ion-row >

        <ion-col size-xs="5">

          
          <ion-label #quantity class="aling-amount">

            Cuanto envias:

           
         
               <!-- <ion-label > {{ post.seller.name}} </ion-label> -->
              
       
         </ion-label>

     
        </ion-col>

        <ion-col size-xs="3" >

      
            <!-- <ion-label position="floating">Comentar Publicación:</ion-label> -->
            <ion-input #termino (keyup)="calculate(termino.value)" ID="comentario"  name="comentario"
            type="number" min="0" pattern="^[0-9]+" oninput="this.value = Math.max(this.value, 0)"
            required></ion-input>
        

        </ion-col>


      </ion-row>

   <ion-row>

        <ion-col *ngIf="amountRecept > 0" size-xs="12" class="ion-text-center " style="top:-10px;">
          
          <ion-chip color="success"> 
            
            <ion-label style="font-size:15px; color:#6a7b71;">
              
              
              <strong>Recibes:</strong> {{ amountRecept | currency:monedaRecepter.symbol:true:'1.0-0' }}  
            
            
            
            </ion-label>
          
          
          </ion-chip>
          
        </ion-col>

        <ion-col  *ngIf=" amountSend > 0 && amountRecept === 0 && errorMessage != null" size-xs="12" class="ion-text-center " style="top:-10px;">
          
          <ion-chip color="danger"> 
            
            <ion-label style="font-size:15px; ">
              
              
              <strong>Mensaje:</strong> {{ errorMessage }} 
            
            
            
            </ion-label>
          
          
          </ion-chip>
          
        </ion-col>
  
  
  
  
    </ion-row>

   

      <ion-row>
        <ion-col size-xs="12" class="ion-text-center ">

          <ion-item lines="none" style="top:-14px; margin-bottom:-31px;">
          
          <ion-label class="ion-text-center" >
                      
            <strong style="display:block;"> Tasa de hoy:</strong> 
            {{ fecha | date:'d/MM/yyyy'}}
                
        </ion-label>

        </ion-item>
          
        </ion-col>
  
  
  
  
    </ion-row>

    <ion-row >


      <ion-col size-xs="12">

      <ion-card class="aling-rate ion-text-center">

        <ion-chip > {{ 1 | currency:monedaSend.symbol:true:'1.0-0' }}= {{ rateSelected.buy_rate | currency:monedaRecepter.symbol:true:'5.0-0' }}</ion-chip>

     
        <!-- <ion-chip slot="end" style="float:right"> {{ 1 | currency:monedaSend.symbol:true:'1.0-0' }}= {{ rateSelected.sell_rate | currency:monedaRecepter.symbol:true:'5.0-0' }}</ion-chip> -->

        </ion-card>
   
      </ion-col>


    </ion-row>

<span *ngIf="metodoPagoSeleccionado === 'Transferencia Bancaria'">

    <ion-row >

      <ion-col size-xs="12" class="ion-text-center ">

        <ion-item lines="none" style="top:-18px; margin-bottom:-35px;">
        
        <ion-label class="ion-text-center" >
                    
       <strong>Disponibilidad para los Bancos:</strong> 

              
      </ion-label>

      </ion-item>
        
      </ion-col>




  </ion-row>

  <ion-row >


    <ion-col size-xs="12">

    <ion-card class="aling-rate">

      <span *ngFor="let banks of post.seller.bank_accounts">

      <ion-chip *ngIf="banks.country_id === monedaRecepter.id && banks.status === 'active'"> 

       
          {{banks.bank.bank_name | capitalizado:false}} 
     
        
      </ion-chip>

    </span>

      </ion-card>
 
    </ion-col>


  </ion-row>


<ion-row >


  <ion-col size-xs="12">

    <ion-list style="margin-top:-15px;">

      <ion-list-header>
        <ion-label>  <strong>Cuentas: </strong> {{ metodoPagoSeleccionado }}</ion-label>
      </ion-list-header>
  
  <span *ngFor="let banks of post.seller.bank_accounts">
  
      <ion-item  *ngIf="banks.country_id === monedaSend.country.id && banks.status === 'active'">
        <ion-avatar slot=start>
          <img src="assets/bank.svg">
      </ion-avatar>
        <ion-label>
          <h3>{{banks.bank.bank_name | uppercase }} </h3>
         <p>{{ banks.holder_account.holder_account_name  | capitalizado:true}}  </p>
         <p><strong>DNI: </strong> {{ banks.holder_account.holder_account_dni }}  </p>
         <p><strong>Cuenta: </strong> {{ banks.bank_account_type.bank_account_type_name }}</p>
         <p><strong>N°: </strong> {{ banks.bank_account_number }}  </p>
        
        </ion-label>
  
      </ion-item>

    </span>

     
    </ion-list>

  </ion-col>


  </ion-row>




</span>


<span *ngIf="metodoPagoSeleccionado != 'Transferencia Bancaria'">

  <ion-row >


    <ion-col size-xs="12">
  
      <ion-list style="margin-top:-15px;">
  
        <ion-list-header>
          <ion-label>  <strong>Cuentas: </strong> {{ metodoPagoSeleccionado }}</ion-label>
        </ion-list-header>
    
    <span *ngFor="let paymentMethods of post.seller.payment_getaways">
    
        <ion-item  *ngIf="paymentMethods.runway.runway_name === metodoPagoSeleccionado && paymentMethods.status === 'active'">
          <ion-avatar slot=start>
            <img src="assets/bank.svg">
        </ion-avatar>
          <ion-label>
            <h3>{{paymentMethods.runway.runway_name | uppercase }} </h3>
            <p><strong>Cuenta: </strong> {{ paymentMethods.payment_identifier }}</p>
           <p>{{ paymentMethods.holder_account.holder_account_name  | capitalizado:true}}  </p>
           <p><strong>DNI: </strong> {{ paymentMethods.holder_account.holder_account_dni }}  </p>
           
          
          </ion-label>
    
        </ion-item>
  
      </span>
  
       
      </ion-list>
  
    </ion-col>
  
  
    </ion-row>

</span>

  </span>





    </span>

   
            
  
      </ion-slide>
  
      <ion-slide >

  
          
    
            <ion-row >
    
              <ion-col size-xs="9">
      
                
                <ion-label class="aling-slide2">
      
                    Transacciones realizadas:
               </ion-label>
      
           
              </ion-col>
      
              <ion-col size-xs="3" >
      
                <ion-button (click)="mostrarPop($event)"   size="small"  fill="outline" class="ion-text-capitalize float-r"
                color="vidas"
                shape="round">
                <ion-icon slot=start name="arrow-dropdown" color="vidas"></ion-icon>
                Filtros
                </ion-button>
      
              </ion-col>

              <ion-col size-xs="12">

                <ion-card class="aling-rate">
                
              
                    
                    <ion-label slot="start">
                     
                      <ion-chip >Transferencia N°:</ion-chip>
                      43000
                    </ion-label>

                    <ion-label style="float:right; margin-right:10px;" slot="end" >
                     
                      <ion-chip >Pais:</ion-chip>
                      Perú
                    </ion-label>

                    
               
    
                </ion-card>
    
    
              </ion-col>

             
      
            </ion-row>

  
  
  </ion-slide>
  
  
    </ion-slides>


  </ion-grid>


</ion-content>

<ion-footer  no-border class="ion-padding-bottom" color="light">
  <ion-toolbar>

    

    <ion-row *ngIf="slideActive === '0' && servicioSeleccionado != null" >

      <ion-col  *ngIf=" amountSend === 0 && amountRecept === 0 && errorMessage2 != null" size-xs="12" class="ion-text-center " style="top:-10px;">
          
        <ion-chip color="danger"> 
          
          <ion-label>
            
            
            <strong>Mensaje:</strong> {{ errorMessage2 }} 
          
          
          
          </ion-label>
        
        
        </ion-chip>
        
      </ion-col>


      <ion-col class="ion-text-center" size-md="4" offset-md="4"  size-xs="12">
        <ion-button  (click)="paymentRegister()"  size="middle"  fill="outline" class="ion-text-capitalize"
        color="vidas"
        shape="round">
        <ion-icon slot=start name="card" color="vidas"></ion-icon>
  Registrar Pago
</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row >
      <ion-col  size-md="4" offset-md="4"   size-xs="12">
        <ion-button slor="start" (click)="mostrarTasa()"   size="middle"  fill="outline" class="ion-text-capitalize "
        color="vidas"
        shape="round">
        <ion-icon slot=start name="arrow-dropleft-circle" color="vidas"></ion-icon>
            Regresar
          </ion-button>

          <ion-button style="float: right;" (click)="mostrarHistorial()"   size="middle"  fill="outline" class="ion-text-capitalize "
          color="vidas"
          shape="round">
          <ion-icon slot=start name="card" color="vidas"></ion-icon>
              Historial
            </ion-button>
      </ion-col>

    </ion-row>



  </ion-toolbar>
</ion-footer>
