<app-header [titulo]="titulo"></app-header>

<ion-content>

      <ion-row class="top-30">
      
          <ion-col size-md="6" offset-md="5"  size-xs="8" offset-xs="4" >
            <ion-avatar class="img-avatar">
              <!-- <img src="https://picsum.photos/500/300?random=2" > -->
              <img *ngIf="precargedImg != null" [src]="precargedImg ">
              <img *ngIf="precargedImg === null" [src]="userLoged.image | imagen">
          </ion-avatar>
          </ion-col>
      
        </ion-row>

        <ion-row>
          <ion-col size="2" class="poster-detalle-sobre">
          
              <ion-icon (click)="libreria()" size="large" name="camera"></ion-icon>
    
          </ion-col>
      </ion-row>
    
    
      <form (ngSubmit)="updateUser(fUpdated)" #fUpdated="ngForm">
          <ion-row>
            <ion-col size-md="6" offset-md="3"  size-xs="12">
              
                <ion-list>
                  <ion-item>
                    <ion-label>DNI:</ion-label>
                    <ion-input disabled placeholder="Ingrese su DNI" [(ngModel)]="userLoged.dni" name="dni"
                                type="text"
                                required></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label>Nombre:</ion-label>
                      <ion-input placeholder="Nombre completo" [(ngModel)]="userLoged.name" name="name"
                                 type="text"
                                 required></ion-input>
                    </ion-item>
                  
                  <ion-item>
                    <ion-label>Correo Electrónico:</ion-label>
                    <ion-input placeholder="tucorreo@ejemplo.com" [(ngModel)]="userLoged.email" name="email"
                               type="email"
                               required></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Teléfono:</ion-label>
                    <ion-input placeholder="Número de contacto" [(ngModel)]="userLoged.phone" name="phone"
                                type="text"
                                required></ion-input>
                    </ion-item>
    
    
                </ion-list>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col class=" left-20 ion-text-center">
              <ion-button type="submit"
                          color="vidas"
                          shape="round">
              Actualizar
            </ion-button>
          </ion-col>
        </ion-row>
        
      </form>

</ion-content>
