<!-- Skeleton screen -->
<ion-content color="light">


  

   <!-- USUARIOS -->

   <ion-grid fixed>
    <ion-row class="top-20">
  
      <ion-col size-md="6" offset-md="3"  size-xs="12">
        <ion-list>
          <ion-list-header>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </ion-list-header>
      
      
      
          <ion-item *ngFor="let user of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
            <ion-avatar slot=start>
              <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
            <ion-label>
              <h3><ion-skeleton-text  animated style="width: 50%"></ion-skeleton-text></h3>
              <p><ion-skeleton-text  animated style="width: 70%"></ion-skeleton-text></p>
            
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
  
    </ion-row>
  </ion-grid>
  



</ion-content>