<ion-content>


  <ion-slides class="mainSlide" #slidePrincipal>
    
    <ion-slide>

      <form (ngSubmit)="login( fLogin )" #fLogin="ngForm">
        <ion-grid fixed>

          <ion-row>
            <ion-col >
              <img src="/assets/avatars/av-1.png">
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col size-md="6" offset-md="3"  size-xs="12">
              
                <ion-list>
                  
                  <ion-item>
                    <ion-label>Correo Electrónico:</ion-label>
                    <ion-input [(ngModel)]="loginUser.email" placeholder="Tucorreo@ejemplo.com" name="email"
                                type="email"
                                required></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Contraseña:</ion-label>
                    <ion-input [(ngModel)]="loginUser.password" placeholder="********" name="password"
                                type="password"
                                required></ion-input>
                  </ion-item>

                </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button class="ion-text-capitalize" type="submit"
                          color="vidas"
                          shape="round">
                Iniciar sesión
              </ion-button>
            </ion-col>
          </ion-row>

          <!-- <ion-row>
            <ion-col>
              
              <ion-button class="ion-text-capitalize"  shape="round"
              expand="block"
              size="default"
              fill="clear"
              color="github"
              (click)="mostrarRegistro()">
              <ion-icon name="key" size="large"></ion-icon>
              ¿Olvidaste tu contraseña?
  </ion-button>
              
                
            </ion-col>
        </ion-row> -->

        </ion-grid>
      </form>
    


    </ion-slide>

    <ion-slide>

      
      <ion-grid fixed>

        <ion-row>
          <ion-col >
            <img src="/assets/avatars/av-1.png">
          </ion-col>
        </ion-row>

            <ion-row>
            <ion-col>
                <h3>Completa tu registro:</h3>
            </ion-col>
            </ion-row>


        
            <form (ngSubmit)="registro( fRegistro )" #fRegistro="ngForm">
                <ion-row>
                    <ion-col size-md="6" offset-md="3"  size-xs="12">
                        
                        <ion-list>

                          <ion-item>
                            <ion-label>DNI:</ion-label>
                            <ion-input placeholder="Ingrese su DNI" [(ngModel)]="registerUser.dni" name="dni"
                                        type="text"
                                        required></ion-input>
                            </ion-item>

                          <ion-item>
                            <ion-label>Nombre:</ion-label>
                            <ion-input placeholder="Nombre completo" [(ngModel)]="registerUser.name" name="name"
                                        type="text"
                                        required></ion-input>
                            </ion-item>
                            
                            <ion-item>
                            <ion-label>Correo Electrónico:</ion-label>
                            <ion-input placeholder="tucorreo@ejemplo.com" [(ngModel)]="registerUser.email" name="email" 
                                        type="email"
                                        required></ion-input>
                            </ion-item>

                            <ion-item>
                              <ion-label>Teléfono:</ion-label>
                              <ion-input placeholder="Número de contacto" [(ngModel)]="registerUser.phone" name="phone"
                                          type="text"
                                          required></ion-input>
                              </ion-item>

                            <ion-item>
                            <ion-label>Contraseña:</ion-label>
                            <ion-input placeholder="********" [(ngModel)]="registerUser.password" name="password"
                                        type="password"
                                        required></ion-input>
                            </ion-item>

                            <ion-item>
                              <ion-label>Repite tu contraseña:</ion-label>
                              <ion-input placeholder="********" [(ngModel)]="registerUser.password_confirmation" name="password_confirmation"
                                          type="password"
                                          required></ion-input>
                              </ion-item>

                        </ion-list>
                    </ion-col>
                </ion-row>
                
                <ion-row>
                <ion-col>
                    <ion-button class="ion-text-capitalize" type="submit"
                                color="vidas"
                                shape="round">
                        Crear usuario
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-button class="ion-text-capitalize"  shape="round"
                expand="block"
                size="default"
                fill="clear"
                color="github"
                (click)="mostrarLogin()">
                <ion-icon name="contact" size="large"></ion-icon>
                Ya tengo una cuenta
    </ion-button>
              </ion-col>
          </ion-row>
            
            </form>
        </ion-grid>
  
  
      </ion-slide>


  </ion-slides>



</ion-content>

<ion-footer  no-border class="ion-padding-bottom">
  <ion-toolbar>
    
    <ion-row *ngIf="slideActive == '0'" >
      <ion-col size-md="4" offset-md="4"  size-xs="12">
        <ion-button (click)="mostrarRegistro()"  type="submit"
                    color="vidas"
              
                    fill="outline"
                    expand="block">
          Crear una cuenta
        </ion-button>
      </ion-col>
    </ion-row>



  </ion-toolbar>
</ion-footer>