<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button  (click)="close()"   size="small"  fill="outline" class="ion-text-capitalize "
        color="vidas"
        shape="round">

            x
          </ion-button>
    </ion-buttons>

    <ion-row class="ct" style="margin-right: 30px;">

    <ion-col  size-md="6" offset-md="4"   size-xs="10" offset-xs="2" >
      <ion-title>Registra tu Pago:</ion-title>

    </ion-col>

  </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content color="ligth">


  <ion-grid fixed>


    <ion-row >
    
      <ion-col size-xs="12">

    
            <ion-item>
      
              <ion-label class="pay">

                <p><strong>Changes Today: </strong> {{ serviceSelected.service_type.service_name }}  </p>
            
                <p><strong>Usuario: </strong> {{ post.seller.name }}  </p>
              <p><strong>DNI: </strong> {{ post.seller.dni }}  </p>
              <p><strong>Envia: </strong> {{ monedaSend.name }} </p>
              <p><strong>Monto de envio: </strong> {{ amountSend }} </p>
              <p><strong>Tasa del dia : </strong> {{ 1 | currency:monedaSend.symbol:true:'1.0-0' }}= {{ rateSelected.buy_rate | currency:monedaRecepter.symbol:true:'5.0-0' }} </p>
              <p><strong>Recibe: </strong> {{ monedaRecepter.name }} </p>
              <p><strong>Cantidad que recibes: </strong>  {{   ( amountSend * rateSelected.buy_rate ) | currency:monedaRecepter.symbol:true:'1.0-0'  }} </p>
              <p><strong>Metodo de Pago: </strong> {{ paymentMethodSelected.payment_method_name }} </p>
              
              
              
              
              
              </ion-label>

    
        </ion-item>
    
    


      </ion-col>

    </ion-row>

  <ion-row class="ct">

    <ion-col size-xs="5">

      
      <ion-label #quantity class="aling-position">

        Numero de Pago:

       
     
           <!-- <ion-label > {{ post.seller.name}} </ion-label> -->
          
   
     </ion-label>

 
    </ion-col>

    <ion-col size-xs="7"  >

  
        <!-- <ion-label position="floating">Comentar Publicación:</ion-label> -->
        <ion-input  #termino (keyup)="valor(termino.value)" ID="comentario2"  name="comentario"
        required></ion-input>
    

    </ion-col>


  </ion-row>

  <ion-row class="ct">

    <ion-col size-xs="7">

      
      <ion-label class="aling-position">

        Comprobante de pago:

       
     
           <!-- <ion-label > {{ post.seller.name}} </ion-label> -->
          
   
     </ion-label>

 
    </ion-col>

    <ion-col size-xs="5" >

      <ion-button (click)="libreria()"style="float:right"  size="default"  fill="outline" class="ion-text-capitalize float-r"
      color="vidas"
      shape="round">
      <ion-icon slot="start" name="images" ></ion-icon>
      Galeria
      </ion-button>

    </ion-col>

  </ion-row>


  </ion-grid>


</ion-content>

<ion-footer  no-border class="ion-padding-bottom" color="light">
  <ion-toolbar>

    <ion-row class="ct" >
      <ion-col  size-md="4" offset-md="4"   size-xs="12">
        <ion-button  (click)="null"   size="default"  fill="outline" class="ion-text-capitalize "
        color="vidas"
       
        expand="block">
        <ion-icon slot=start name="ios-send" color="vidas"></ion-icon>
            Enviar registro
          </ion-button>

      </ion-col>

    </ion-row>



  </ion-toolbar>
</ion-footer>