
<ion-grid fixed>
  <ion-row>
    <ion-col  size-md="6" offset-md="3"  size-xs="12"
    *ngFor="let post of posts">

      <app-post [post]="post"></app-post>

    </ion-col>
  </ion-row>
</ion-grid>




