
<div class="post">

   
    
    <ion-item lines="none">

        <ion-avatar slot=start>
            <img src="/assets/avatars/av-1.png">
        </ion-avatar>

        <ion-label>
            <h3><span class="ion-text-capitalize"> {{ post.name }}</span> </h3>
             <h5>{{ post.created_at }} </h5>
        </ion-label>
    </ion-item>

    <!-- <ion-slides pager="true" >
        <ion-slide class="image-slide"
        [style]="img1 | domSanitizer">
         </ion-slide>

         <ion-slide class="image-slide"
         [style]="img2 | domSanitizer">
        </ion-slide>

        <ion-slide class="image-slide"
        [style]="img3 | domSanitizer">
        </ion-slide>

        </ion-slides> -->


    
        <ion-item lines="none">
             <ion-label class="ion-text-wrap">
                {{ post.description | slice:0:cortar }}
                <!-- <span class="color-vida" (click)="verDetalle()" *ngIf="cortar !== 5000" color="vidas">... Leer más</span> -->
             </ion-label>
             
        </ion-item>

 
        <ion-slides pager="true" *ngIf="postImages.length > 1">

            <ion-slide *ngFor="let img of postImages"
            (click) ="verDetalle()" class="image-slide"
            [style]="(img | imagen) | domSanitizer">
    
             </ion-slide>
    
            </ion-slides>
    
            <ion-slides *ngIf="postImages.length === 1" [options]="slideSoloOpts">
    
                <ion-slide (click) ="verDetalle()" class="image-slide"
                [style]="(postImages[0] | imagen) | domSanitizer">
        
                 </ion-slide>
        
                </ion-slides>
                
                <ion-item  lines="none" >

       
                   
                    <ion-button  size="middle"  fill="outline" class="ion-text-capitalize ctr"
                    color="vidas"
                    shape="round">
                    <ion-icon slot="start" name="swap" color="vidas"></ion-icon>
             Cotizar
            </ion-button>


                </ion-item>


</div>
