
.post {
    margin-top: 10px;
    
    -webkit-box-shadow: 0 2px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px -5px rgba(0,0,0,0.5);
}

.image-slide {
    width: 100%;
    height: 250px;

    // background-color: red;

    /* Full height */
    // height: 100%; 

    /* Imagen centrada y colocada de forma elegante */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.color-vida {
    color : #a81616 !important;
}

.ctr {
    margin-left: auto;
    margin-right: auto;
}

