<ion-list *ngIf="items.length > 0">

  <span *ngFor="let item of items; let i = index;">

  <ion-item *ngIf="item.level == level && item.status == status  || item.level == level && item.status ===  'any' || item.level == 'any' && item.status ===  'any' || item.level == 'any' && item.status ===  'loged' && status == 'loged'"
  [routerLink]="item.route" (click)="onClick( i )">

  <ion-icon class="right-20"  [name]="item.icon"></ion-icon >
    <ion-label>{{ item.name }} 
     
    </ion-label>
  </ion-item>
</span>
</ion-list>
